/*///// VARIABLES /////*/
:root {
  --color-principal: #2d3047;
  --color-secundario: #c04abc;
  --color-neutro: #f4ebe8;
  --font-principal: "Lato", sans-serif;
}

/*/ //// RESETEO /////*/

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

html {
  font-size: 16px;
  font-family: var(--font-principal);
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

/*///// HEADER /////*/
.header {
  width: 100vw;
  height: 5rem;
  background-color: var(--color-principal);
  color: var(--color-neutro);
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;
}

.header .logo {
  color: var(--color-secundario);
  font-size: 2.5rem;
  font-weight: 700;
}

.menu {
  display: none;
}

.mobilemenu {
  position: relative;
  min-height: 3rem;
  flex-grow: 4;
  font-size: 1.4rem;
}

.mobilemenu .boton-menu {
  position: absolute;
  right: 0;
}

.mobilemenu .boton-menu i {
  margin: 0;
  padding: 0;
  font-size: 3rem;
  transform: rotate(0deg);
  transition: transform 0.8s ease;
}

.rotate {
  transform: rotate(360deg) !important;
  transition: transform 0.8s ease;
}

.mobilemenu .boton-menu i:hover {
  color: var(--color-secundario);
  cursor: pointer;
}

.mobilemenu nav {
  width: 100vw;
  margin-top: 4rem;
  padding-bottom: 1rem;
  position: absolute;
  right: -2rem;
  background-color: #24273a;
}

.default {
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.active {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  display: block;
  z-index: -1;
}

.mobilemenu nav ul {
  text-align: right;
  padding-right: 2rem;
}

.mobilemenu ul li,
.mobilemenu ul li a,
.menu ul li,
.menu ul li a {
  font-weight: bold;
  color: var(--color-neutro);
  padding: 1rem 0rem;
  border-bottom: 0.2rem solid var(--color-principal);
  transition: all ease-in 0.2s;
}

.mobilemenu ul li,
.mobilemenu ul li a {
  border-bottom: none;
}

.mobilemenu .activo,
.mobilemenu ul li a:hover,
.menu .activo,
.menu ul li a:hover {
  color: var(--color-secundario);
  border-bottom: 0.2rem solid var(--color-secundario);
  transition: all ease-in 0.2s;
}

.carrito-span {
  margin-left: 0.2rem;
  padding: 0.1rem 0.4rem;
  background-color: var(--color-secundario);
  color: var(--color-neutro);
  border-radius: 50%;
}

/* ///// MAIN ///// */
.container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

main .container {
  min-height: calc(100vh - 5rem);
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

main h1 {
  text-align: center;
}

/* ///// FOOTER ///// */
footer {
  background-color: var(--color-secundario);
  color: var(--color-neutro);
}

/* ///// PRODUCTS CARDS ///// */
.products-container {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-items: stretch;
  justify-content: space-between;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-basis: 100%;
  text-align: center;
  border-radius: 0.3rem;
  margin: 1rem auto;
  border: 0.05rem solid lightgray;
  padding-bottom: 1rem;
  box-shadow: 0.05rem 0.05rem 0.4rem 0.05rem lightgray;
  transform: translate(0%);
  -webkit-transform: translate(0%);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow: hidden;
}

.product-card:hover {
  cursor: pointer;
  transform: translate(1%, -1%);
  -webkit-transform: translate(1%, -1%);
  box-shadow: -0.3rem 0.3rem 0.4rem 0.1rem lightgray;
  transition: all 0.2s ease-in-out;
}

.product-card .img-container {
  height: 80vw;
  width: 100%;
}

.product-card .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 0.3rem 0.3rem 0 0;
}

.product-card h3 {
  padding: 1rem 0;
  font-size: 1.6rem;
}

.product-card .precio {
  font-size: 1.7rem;
  font-weight: bold;
  opacity: 0.6;
}

.product-card .comprar {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.product-card .comprar input {
  width: 2.5rem;
  height: 2rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
  text-align: center;
}

.product-card .boton-comprar {
  display: flex;
  text-align: center;
  align-self: center;
  margin-top: 1rem;
  padding: 0.8em 1.6rem;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  background-color: var(--color-secundario);
  color: var(--color-neutro);
}

.product-card .hover:hover {
  cursor: pointer;
  animation: scale 0.3s ease-out 0s infinite alternate;
}

.product-card .message {
  align-self: center;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 0.6;
  display: none;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}

/* ///// CARRITO ///// */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.6rem;
  color: var(--color-principal);
  padding: 0.2rem 0.4rem;
  cursor: pointer;
}

.carrito-container {
  width: 50%;
  padding: 2rem;
  border-radius: 0.3rem;
  border: 0.1rem solid lightgray;
  background-color: white;
  position: relative;
}

.carrito-container table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

.carrito-container table caption {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.carrito-container table td {
  border-bottom: 0.1rem solid lightgray;
  padding: 0.5rem 0rem;
}

.carrito-container table tbody td:nth-child(2) {
  width: 40%;
}

.carrito-container table tbody td:nth-child(5) {
  width: 10%;
}

.carrito-container table tfoot th {
  padding: 1rem 0rem;
}

.carrito-container table .img-container {
  width: 2rem;
  height: 4rem;
}

.carrito-container table .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.carrito-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-items: stretch;
  padding: 0.5rem;
  border-bottom: 0.05rem solid lightgray;
}

/* ///// MEDIA QUERYS ///// */
@media screen and (min-width: 768px) {
  .header {
    max-width: 100vw;
    width: auto;
    position: sticky;
  }

  .mobilemenu {
    display: none;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    flex-grow: 4;
  }

  .menu ul {
    display: flex;
    align-items: center;
  }

  .menu ul li a {
    padding: 1rem 0.5rem;
    margin: 0rem 0.5rem;
  }

  .container {
    max-width: 1200px;
    padding: 2rem 4rem;
  }

  main .container {
    margin-top: 0;
  }

  .product-card {
    flex-basis: 45%;
  }

  .product-card .img-container {
    height: 18rem;
  }

  .product-card h3 {
    font-size: 1.4rem;
  }

  .product-card .precio {
    font-size: 1.5rem;
  }

  .product-card .boton-comprar {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .product-card {
    flex-basis: 30%;
  }
}
