@import "./components/variables";
@import "./components/global";
@import "./components/media-queries";
@import "./components/animations";
@import "./components/header";
@import "./components/main";
@import "./components/footer";
@import "./components/products-cards";
@import "./components/carrito";

/* ///// MEDIA QUERYS ///// */
@media screen and (min-width: 768px) {
  .product-card {
    flex-basis: 45%;
  }

  .product-card .img-container {
    height: 18rem;
  }

  .product-card h3 {
    font-size: 1.4rem;
  }

  .product-card .precio {
    font-size: 1.5rem;
  }

  .product-card .boton-principal {
    font-size: 1.2rem;
  }

  .carrito-container .botones {
    justify-content: space-between;
  }

  .carrito-container #btn-borrar,
  .carrito-container #btn-comprar,
  .carrito-container #btn-volver {
    margin: 0;
  }
}

@media screen and (min-width: 992px) {
  .carrito-container {
    width: 60%;
  }

  .container .carrito-container {
    width: 100%;
  }
}
