/* ///// CARRITO ///// */
.carrito-float {
  display: flex;
  position: fixed;
  right: 2%;
  bottom: 2%;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: $color-principal;
  color: $color-neutro;
  border-radius: 50%;
  font-size: 1.6rem;

  & > * {
    pointer-events: none;
  }

  i {
    font-size: 1.4rem;
  }

  .carrito-span {
    font-family: $font-principal;
    font-size: 1.6rem;
    text-align: center;
  }
}

.carrito-container {
  width: 100%;
  max-height: 80%;
  margin-top: 2rem;
  padding: 1rem 0rem;
  overflow-y: auto;
  border-radius: 0.3rem;
  border: 0.1rem solid lightgray;
  background-color: white;
  position: relative;
  text-align: center;
  align-self: center;

  @include media-up(md) {
    max-width: 1200px;
    width: 80%;
    padding: 2rem;
  }

  .message {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .producto {
    display: grid;
    grid-template-columns: minmax(5px, 50px) 2fr 2fr 6rem;
    grid-template-rows: repeat(2, minmax(5px, 25px));
    text-align: left;
    gap: 0rem, 0.5rem;
    margin: 0.5rem 0;
    padding: 0.2rem;
    border-bottom: 0.1rem solid lightgray;

    @include media-up(md) {
      grid-template-columns: minmax(5px, 50px) 3fr 1fr 1fr 6rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    div {
      padding: 0rem 0.5rem;

      @include media-up(md) {
        display: flex;
        justify-self: center;
        align-self: center;
      }
    }

    div:nth-child(1) {
      //Imagen
      grid-row: 1/3;
      padding: 0;
      align-self: unset;
      justify-self: unset;
    }

    div:nth-child(2) {
      //Nombre
      grid-column: 2/4;
      text-align: center;
      font-weight: bold;

      @include media-up(md) {
        grid-column: 2/3;
        grid-row: 1/3;
      }
    }

    div:nth-child(3) {
      //Precio
      text-align: right;
      grid-column: 2/3;

      @include media-up(md) {
        grid-column: 3/4;
        grid-row: 1/3;
      }
    }

    div:nth-child(4) {
      //Cantidad
      grid-column: 3/4;

      @include media-up(md) {
        grid-column: 4/5;
        grid-row: 1/3;
        text-align: center;
      }
    }

    div:nth-child(5) {
      //Subtotal
      grid-column: 4/ 5;
      grid-row: 2/3;
      text-align: center;

      @include media-up(md) {
        grid-column: 5/6;
        grid-row: 1/3;
      }
    }
  }

  .totales {
    display: grid;
    grid-template-columns: 2fr 1fr 6rem;
    align-items: center;
    margin-top: 1rem;
    font-weight: bold;
  }

  .subtotal,
  .total {
    div:nth-child(1) {
      grid-column: 1/3;
      text-align: right;
    }
  }

  .envio {
    div:nth-child(2) {
      text-align: right;
    }
  }

  .botones {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }

  #btn-borrar,
  #btn-comprar,
  #btn-volver,
  #btn-envio {
    margin: 0 0.2rem;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;

    @include media-up(md) {
      padding: 0.5rem 1rem;
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);

  .carrito-container {
    padding: 0.5rem;

    @include media-up(md) {
      width: 60%;
    }
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.6rem;
    color: $color-principal;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
  }
}
