/* ///// CARRITO ///// */
.carrito-float {
  display: flex;
  position: fixed;
  right: 2%;
  bottom: 2%;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: $color-principal;
  color: $color-neutro;
  border-radius: 50%;
  font-size: 1.6rem;

  & > * {
    pointer-events: none;
  }

  i {
    font-size: 1.4rem;
  }

  .carrito-span {
    font-family: $font-principal;
    font-size: 1.6rem;
    text-align: center;
  }
}

.carrito-container {
  width: 95%;
  max-height: 80%;
  margin-top: 2rem;
  padding: 2rem;
  overflow-y: auto;
  border-radius: 0.3rem;
  border: 0.1rem solid lightgray;
  background-color: white;
  position: relative;
  text-align: center;

  @include media-up(md) {
    width: 100%;
  }

  .message {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .botones {
    display: flex;
    justify-content: space-between;
  }

  #btn-borrar,
  #btn-comprar,
  #btn-volver {
    margin: 0 0.2rem;
    padding: 1rem;
  }

  .boton-principal,
  .boton-principal-alt {
    justify-content: center;
    padding: 0.4rem 0.2rem;
    font-size: 1rem;
  }

  table {
    width: 100%;
    text-align: center;
    border-spacing: 0.2rem;
    display: none;

    td {
      border-bottom: 0.1rem solid lightgray;
      padding: 0.5rem 0rem;
    }

    .carrito-product {
      display: flex;
      align-items: center;
      justify-content: space-between;
      justify-items: stretch;
      padding: 0.5rem;
      border-bottom: 0.05rem solid lightgray;
    }

    tbody td {
      &:nth-child(2) {
        width: 50%;
      }

      &:nth-child(5) {
        width: 10%;
      }
    }

    tfoot th {
      padding: 1rem 0rem;
    }

    .img-container {
      width: 2rem;
      height: 4rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);

  .carrito-container {
    padding: 0.5rem;

    @include media-up(md) {
      width: 60%;
    }
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.6rem;
    color: $color-principal;
    padding: 0.2rem 0.4rem;
    cursor: pointer;
  }
}
