/* ///// FOOTER ///// */
footer {
  background-color: $color-secundario;
  color: $color-neutro;

  .container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;

    @include media-up(md) {
      max-width: 1200px;
      padding: 2rem 4rem;
    }
  }
}
