@mixin products-container($columns: 4) {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

  @include media-up(md) {
    grid-template-columns: repeat($columns, 1fr);
  }
}

/*/ //// RESETEO /////*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

html {
  font-size: 16px;
  font-family: $font-principal;
  scroll-behavior: smooth;
  min-height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  display: grid;
  overflow-x: hidden;
  background-color: #fff;
  color: #444;

  @include media-up(md) {
    grid-template-rows: min-content min-max(90vh, auto) min-content !important;
  }
}

/* ///// LOADER ///// */
.loader-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background-color: #fff;
  opacity: 0.5;
  z-index: 1;
  display: flex;
  justify-content: center;

  img {
    width: 4rem;
  }
}

/* //// BOTONES Y MENSAJES /////*/
.boton-principal,
.boton-principal-alt {
  display: flex;
  text-align: center;
  align-self: center;
  margin-top: 0.5rem;
  padding: 0.4rem 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: 0.1rem solid $color-secundario;
  border-radius: 0.3rem;
  background-color: $color-secundario;
  color: $color-neutro;
  cursor: pointer;
  line-height: 1rem;

  i {
    margin-right: 0.5rem;
  }

  @include media-up(md) {
    font-size: 1rem;
  }
}

.boton-principal-alt {
  background-color: unset;
  color: $color-secundario;
  border: 0.1rem solid $color-secundario;
}

.boton-redes {
  font-size: 2.5rem;
  cursor: pointer;
  margin: 0.2rem;
}

.message {
  align-self: center;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 0.6;
}

.message-float {
  position: fixed;
  right: 0.5rem;
  bottom: 6rem;
  opacity: 1;
  display: none;

  span {
    position: relative;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: normal;
    font-size: 1.2rem;
    background-color: $color-secundario;
    color: #fff;
  }

  span::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.5rem;
    right: 2.5rem;
    width: 0;
    border-top: 15px solid $color-secundario;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.hover:hover {
  cursor: pointer;
  animation: scale 0.3s ease-out 0s infinite alternate;
}

//Inputs y formularios
select,
input {
  width: 100%;
  padding: 0.2rem 0.5rem;
  font-family: $font-principal;
  font-size: 0.9rem;
  border: 0.1rem solid lightgray;
  border-radius: 0.3rem;
  background-color: #fff;
  transition: border ease-in 0.5s;

  &:focus,
  &:focus-visible {
    border: 0.1rem solid $color-secundario;
    outline: none;
    transition: all ease-in 0.5s;
  }
}

select {
  border-radius: 0.3rem 0.3rem 0 0;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left;
}
