/*/ //// RESETEO /////*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

html {
  font-size: 16px;
  font-family: $font-principal;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

/* //// BOTONES Y MENSAJES /////*/
.boton-principal,
.boton-principal-alt {
  display: flex;
  text-align: center;
  align-self: center;
  // margin-top: 1rem;
  margin-top: 0.5rem;
  // padding: 0.8em 1.6rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  background-color: $color-secundario;
  color: $color-neutro;

  @include media-up(md) {
    font-size: 1rem;
  }
}

.boton-principal-alt {
  background-color: unset;
  color: $color-secundario;
  border: 0.1rem solid $color-secundario;
}

.message {
  align-self: center;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 0.6;
}

.hover:hover {
  cursor: pointer;
  animation: scale 0.3s ease-out 0s infinite alternate;
}
