/*/ //// RESETEO /////*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

html {
  font-size: 16px;
  font-family: $font-principal;
  scroll-behavior: smooth;
  min-height: -webkit-fill-available;
}

body {
  background-color: #fff;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // min-height: -webkit-fill-available;
}

/* //// BOTONES Y MENSAJES /////*/
.boton-principal,
.boton-principal-alt {
  display: flex;
  text-align: center;
  align-self: center;
  // margin-top: 1rem;
  margin-top: 0.5rem;
  // padding: 0.8em 1.6rem;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.3rem;
  background-color: $color-secundario;
  color: $color-neutro;

  i {
    margin-right: 0.5rem;
  }

  @include media-up(md) {
    font-size: 1rem;
  }
}

.boton-principal-alt {
  background-color: unset;
  color: $color-secundario;
  border: 0.1rem solid $color-secundario;
}

.message {
  align-self: center;
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  opacity: 0.6;
}

.message-float {
  position: fixed;
  right: 0.5rem;
  bottom: 6rem;
  opacity: 1;
  display: none;

  span {
    position: relative;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: normal;
    font-size: 1.2rem;
    opacity: 0.8;
    background-color: rgb(255, 228, 74);
  }

  span::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -0.5rem;
    right: 2.5rem;
    width: 0;
    border-top: 15px solid rgb(255, 228, 74);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
  }
}

.hover:hover {
  cursor: pointer;
  animation: scale 0.3s ease-out 0s infinite alternate;
}

.loader-container {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 5rem;
  background-color: #fff;
  opacity: 0.5;
  z-index: 1;
  display: flex;
  justify-content: center;
  img {
    width: 4rem;
  }
}
