/*///// HEADER /////*/
.header {
  width: 100vw;
  height: 5rem;
  background-color: $color-principal;
  color: $color-neutro;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 1;

  @include media-up(md) {
    max-width: 100vw;
    width: auto;
    position: sticky;
  }

  .logo {
    color: $color-secundario;
    font-size: 2rem;
    font-weight: 700;
  }

  .boton-menu {
    position: absolute;
    right: 1.5rem;

    @include media-up(md) {
      display: none;
    }

    i {
      margin: 0;
      padding: 0;
      font-size: 2.5rem;
      transform: rotate(0deg);
      transition: transform 0.8s ease;
    }

    i:hover {
      color: $color-secundario;
      cursor: pointer;
    }
  }

  .menu {
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    padding-bottom: 1rem;
    background-color: #24273a;
    font-size: 1.4rem;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;

    @include media-up(md) {
      position: relative;
      top: auto;
      display: flex;
      justify-content: flex-end;
      flex-grow: 4;
      padding-bottom: unset;
      font-size: 1rem;
      background-color: unset;
      transform: translateX(0);
    }

    ul {
      text-align: right;

      @include media-up(md) {
        display: flex;
        align-items: center;
        flex-direction: row;
      }

      li {
        padding: 1rem 0rem;
        padding-right: 2rem;

        @include media-up(md) {
          padding-right: unset;
        }
      }

      a {
        padding: 1rem 0rem;
        font-weight: bold;
        color: $color-neutro;

        @include media-up(md) {
          padding: 1rem 0.5rem;
          margin: 0rem 0.5rem;
        }
      }

      .activo {
        color: $color-secundario;
        border-bottom: 0.2rem solid $color-secundario;
      }
    }
  }

  .carrito-span {
    margin-left: 0.2rem;
    padding: 0.1rem 0.4rem;
    background-color: $color-secundario;
    color: $color-neutro;
    border-radius: 50%;
  }
}

.rotate {
  transform: rotate(360deg) !important;
  transition: transform 0.8s ease;
}

.active {
  transform: translateX(0) !important;
  transition: transform 0.5s ease-in-out;
  display: block;
  z-index: -1;
}
