/* ///// MAIN ///// */
.container {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;

  @include media-up(md) {
    max-width: 1200px;
    padding: 2rem 4rem;
  }
}

main .container {
  min-height: calc(100vh - 5rem);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;

  @include media-up(md) {
    margin-top: 0;
  }
}

main h1 {
  font-size: 1.8rem;
  text-align: center;
}
