/* ///// PRODUCTS CARDS ///// */
.product-card {
  display: flex;
  // height: 140%;
  flex-direction: column;
  flex-basis: 45%;
  // margin: 1rem auto;
  padding-bottom: 1rem;
  border-radius: 0.3rem;
  border: 0.05rem solid lightgray;
  box-shadow: 0.05rem 0.05rem 0.4rem 0.05rem lightgray;
  text-align: center;
  background-color: white;
  transform: translate(0%);
  -webkit-transform: translate(0%);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow: hidden;

  @include media-up(md) {
    flex-basis: 22% !important;
  }

  &:hover {
    cursor: pointer;
    transform: translate(1%, -1%);
    -webkit-transform: translate(1%, -1%);
    box-shadow: -0.3rem 0.3rem 0.4rem 0.1rem lightgray;
    transition: all 0.2s ease-in-out;
  }

  &:hover > .img-container::after {
    opacity: 0.5;
  }

  &:hover > .img-container img {
    transform: scale(1.1);
    transition: all ease-in-out 0.4s;
  }

  .img-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;

    &::after {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      content: "";
      background: no-repeat center/20% url("././assets/lupa.svg");
      color: red;
      z-index: 1;
      opacity: 0;
      transition: opacity ease-in 0.3s;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      object-fit: cover;
      object-position: top;
      transform: scale(1);
      transition: transform ease-in-out 0.4s;
    }
  }

  h3 {
    margin-top: 0.5rem;
    font-size: 1rem;
    opacity: 0.8;

    @include media-up(md) {
      font-size: 1rem;
    }
  }

  .precio {
    margin: 0.5rem 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
}
