/* ///// PRODUCTS CARDS ///// */
.products-container {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-items: stretch;
  justify-content: space-between;
}

.product-card {
  display: flex;
  height: 140%;
  flex-direction: column;
  flex-basis: 100%;
  margin: 1rem auto;
  padding-bottom: 1rem;
  border-radius: 0.3rem;
  border: 0.05rem solid lightgray;
  box-shadow: 0.05rem 0.05rem 0.4rem 0.05rem lightgray;
  text-align: center;
  background-color: white;
  transform: translate(0%);
  -webkit-transform: translate(0%);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow: hidden;

  @include media-up(md) {
    flex-basis: 30% !important;
  }

  &:hover {
    cursor: pointer;
    transform: translate(1%, -1%);
    -webkit-transform: translate(1%, -1%);
    box-shadow: -0.3rem 0.3rem 0.4rem 0.1rem lightgray;
    transition: all 0.2s ease-in-out;
  }

  .img-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      object-fit: cover;
      object-position: top;
      box-shadow: inset 0 0 5rem blue;
    }
  }

  h3 {
    padding: 0.5rem 0;
    font-size: 1.6rem;

    @include media-up(md) {
      font-size: 1.2rem;
    }
  }

  .precio {
    font-size: 1.7rem;
    font-weight: bold;
    opacity: 0.6;
  }

  .comprar {
    display: flex;
    justify-content: center;
    align-items: baseline;

    input {
      width: 2rem;
      height: 1.5rem;
      margin-top: 0;
      margin-left: 0.5rem;
      text-align: center;
    }
  }

  .message {
    display: none;
  }
}
